# OS junk files
[Tt]humbs.db
**/.DS_Store
**.log

# Exclude file directory
**.pdf
**.jpg
**.jpeg

# ignore database config & index php
application/config/database.php
/application/config/database.php
# ignore data from file/*
/file/*