# OS junk files
[Tt]humbs.db
**/.DS_Store
**.log

# Exclude file directory
/file/**/**.pdf
/file/**/**.jpg
/file/**/**.jpeg

# ignore database config & index php
application/config/database.php
# ignore data from file/*
/file/*